In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
# Loading the iris dataset
url = 'https://raw.githubusercontent.com/mwaskom/seaborn-data/master/iris.csv'
iris = pd.read_csv(url)

In [3]:
iris.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [4]:
iris.tail()

     sepal_length  sepal_width  petal_length  petal_width    species
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

In [5]:
iris.shape

(150, 5)

In [6]:
# Counts the number of null values, This is used to check if cleaning is required
iris.isnull().sum()

sepal_length    0
sepal_width     0
petal_length    0
petal_width     0
species         0
dtype: int64

In [7]:
# Gives details about distribution of data
iris.describe()

       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.057333      3.758000     1.199333
std        0.828066     0.435866      1.765298     0.762238
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [8]:
# This is similar to describe, but here we group by species
metrics = ['count', 'min', 'max', 'mean','std','skew']
iris.groupby(by='species').agg(metrics)

           sepal_length                                      sepal_width       \
                  count  min  max   mean       std      skew       count  min
species
setosa               50  4.3  5.8  5.006  0.352490  0.120087          50  2.3
versicolor           50  4.9  7.0  5.936  0.516171  0.105378          50  2.0
virginica            50  4.9  7.9  6.588  0.635880  0.118015          50  2.2

                        ... petal_length                             \
            max   mean  ...          max   mean       std      skew
species                 ...
setosa      4.4  3.428  ...          1.9  1.462  0.173664  0.106394
versicolor  3.4  2.770  ...          5.1  4.260  0.469911 -0.606508
virginica   3.8  2.974  ...          6.9  5.552  0.551895  0.549445

           petal_width
                 count  min  max   mean       std      skew
species
setosa              50  0.1  0.6  0.246  0.105386  1.253861
versicolor          50  1.0  1.8  1.326  0.197753 -0.031180
virginica           50  1.4  2.5  2.026  0.274650 -0.129477

[3 rows x 24 columns]

In [9]:
# Assigning class labels to the data
labels = iris["species"]
labels = labels.replace({"setosa": 0, "versicolor": 1, "virginica": 2})
print(labels.head())

0    0
1    0
2    0
3    0
4    0
Name: species, dtype: int64

In [10]:
# Seperating the labels from the features
iris = iris.drop(["species"], axis=1)

In [25]:
def BuildTree(start, end, k = 3):
    if (end - start) < k:
        count = [0, 0, 0]
        for i in range(start, end):
            count[labels[i]] += 1

        # We assign the label with maximum count as a leaf node
        max_idx = count.index(max(count))
        print("Leaf node: ", max_idx)
        return
    else:
        split_idx = 0
        split_val = 0
        min_purity = 1
        # For each feature, we try to find the best split index
        for i in range(iris.shape[1]):
            temp_split_idx = i
            col = iris.columns[i]
            unique = iris[col].unique()
            iris.sort_values(by=[col], inplace=True)
            # For each data instance, we try to find the best split value
            for j in range(1, unique.shape[0]):
                # We consider the midpoint of two consecutive data instances after sorting
                temp_split_val = (unique[j] + unique[j-1])/2
                left = [0, 0, 0]
                right = [0, 0, 0]
                # Seperate all the data values in two halves as per their value
                for k in range(iris.shape[0]):
                    if iris.iloc[k, i] < temp_split_val:
                        left[labels[k]] += 1
                    else:
                        right[labels[k]] += 1
                left_sum = sum(left)
                right_sum = sum(right)
                print(left[0], left[1], left[2], right[0], right[1], right[2])
                print(left_sum, right_sum)
                gini = 1 - ((left_sum / iris.shape[0]) * ((left[0] / left_sum) ** 2 + (left[1] / left_sum) ** 2 + (left[2] / left_sum) ** 2)) - ((right_sum / iris.shape[0]) * ((right[0] / right_sum) ** 2 + (right[1] / right_sum) ** 2 + (right[2] / right_sum) ** 2))


                if (gini < min_purity):
                    min_purity = gini
                    split_idx = temp_split_idx
                    split_val = temp_split_val

        print("Split index: ", split_idx)
        print("Split value: ", split_val)
        print("Gini: ", min_purity)

In [26]:
BuildTree(0, iris.shape[0], 2)

5 0 0 45 50 50
5 145
5 0 0 45 50 50
5 145
32 0 0 18 50 50
32 118
32 0 0 18 50 50
32 118
11 0 0 39 50 50
11 139
16 0 0 34 50 50
16 134
45 0 0 5 50 50
45 105
32 0 0 18 50 50
32 118
32 0 0 18 50 50
32 118
46 0 0 4 50 50
46 104
50 9 0 0 41 50
59 91
32 0 0 18 50 50
32 118
32 0 0 18 50 50
32 118
32 0 0 18 50 50
32 118
45 0 0 5 50 50
45 105
50 23 0 0 27 50
73 77
50 30 0 0 20 50
80 70
50 50 8 0 0 42
108 42
50 50 15 0 0 35
115 35
50 49 0 0 1 50
99 51
50 50 8 0 0 42
108 42
50 50 22 0 0 28
122 28
50 50 33 0 0 17
133 17
50 50 30 0 0 20
130 20
50 50 33 0 0 17
133 17
50 50 8 0 0 42
108 42
50 45 0 0 5 50
95 55
50 50 33 0 0 17
133 17
50 50 42 0 0 8
142 8
50 50 43 0 0 7
143 7
50 50 45 0 0 5
145 5
50 50 49 0 0 1
149 1
50 50 45 0 0 5
145 5
50 50 43 0 0 7
143 7
50 33 0 0 17 50
83 67
50 33 0 0 17 50
83 67
19 0 0 31 50 50
19 131
47 0 0 3 50 50
47 103
50 50 7 0 0 43
107 43
50 50 13 0 0 37
113 37
50 33 0 0 17 50
83 67
11 0 0 39 50 50
11 139
50 7 0 0 43 50
57 93
33 0 0 17 50 50
33 117
24 0 0 26 50 50
24 126
50 50 31 0 0 19
131 19
50 50 38 0 0 12
138 12
50 50 44 0 0 6
144 6
50 50 13 0 0 37
113 37
50 50 7 0 0 43
107 43
50 50 7 0 0 43
107 43
50 50 25 0 0 25
125 25
50 50 25 0 0 25
125 25
50 50 31 0 0 19
131 19
50 50 48 0 0 2
148 2
50 33 0 0 17 50
83 67
50 11 0 0 39 50
61 89
50 45 0 0 5 50
95 55
50 29 0 0 21 50
79 71
50 19 0 0 31 50
69 81
50 8 0 0 42 50
58 92
50 0 0 0 50 50
50 100
50 0 0 0 50 50
50 100
50 7 0 0 43 50
57 93
50 25 0 0 25 50
75 75
50 11 0 0 39 50
61 89
50 3 0 0 47 50
53 97
50 49 0 0 1 50
99 51
50 50 31 0 0 19
131 19
50 50 44 0 0 6
144 6
50 50 22 0 0 28
122 28
50 37 0 0 13 50
87 63
50 40 0 0 10 50
90 60
50 45 0 0 5 50
95 55
50 50 8 0 0 42
108 42
50 50 22 0 0 28
122 28
50 50 20 0 0 30
120 30
50 40 0 0 10 50
90 60
50 50 31 0 0 19
131 19
50 50 22 0 0 28
122 28
50 11 0 0 39 50
61 89
50 0 0 0 50 50
50 100
50 8 0 0 42 50
58 92
50 50 46 0 0 4
146 4
50 50 37 0 0 13
137 13
50 50 25 0 0 25
125 25
50 50 31 0 0 19
131 19
50 1 0 0 49 50
51 99
11 0 0 39 50 50
11 139
37 0 0 13 50 50
37 113
50 3 0 0 47 50
53 97
50 3 0 0 47 50
53 97
50 3 0 0 47 50
53 97
50 50 37 0 0 13
137 13
50 8 0 0 42 50
58 92
48 0 0 2 50 50
48 102
24 0 0 26 50 50
24 126
50 6 0 0 44 50
56 94
5 0 0 45 50 50
5 145
5 0 0 45 50 50
5 145
41 0 0 9 50 50
41 109
48 0 0 2 50 50
48 102
49 0 0 1 50 50
49 101
50 0 0 0 50 50
50 100
50 7 0 0 43 50
57 93
50 10 0 0 40 50
60 90
50 15 0 0 35 50
65 85
50 15 0 0 35 50
65 85
50 36 0 0 14 50
86 64
50 48 0 0 2 50
98 52
50 50 2 0 0 48
102 48
50 50 4 0 0 46
104 46
50 50 16 0 0 34
116 34
50 50 21 0 0 29
121 29
50 50 33 0 0 17
133 17
50 50 44 0 0 6
144 6
50 50 33 0 0 17
133 17
50 50 33 0 0 17
133 17
50 50 44 0 0 6
144 6
Split index:  2
Split value:  2.3
Gini:  0.3333333333333334